.image-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 250px;
    /* border-block: solid;
    writing-mode: horizontal-tb; */
}

.searchform {
    text-align: center;
    
}

.searchinput {
    width: 35%;
}
/* #img {
    display: block;
} */