.image-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 250px;
    /* border-block: solid;
    writing-mode: horizontal-tb; */
}

.searchform {
    text-align: center;

}

.searchinput {
    width: 35%;
    height: 35px;
    border-radius: 30px;  
    border:1px solid rgb(230, 230, 230);
}

/* .searchinput:hover {
    
} */
/* #img {
    display: block;
} */